.categories div {
    display: inline-block;
    background: #cdcdcd;
    border-radius: 50px;
    padding: 10px 20px;
    margin-bottom: 25px;
    margin-right: 15px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 500ms ease;
    font-weight: 600;
  
  }
  
  
  .categories div:hover {
  
    background-color: #e4e4e4;
    transform: scale(1.1);
  }